<h2 id="reset_title">Reset your password</h2>
<div id="reset-div_form">
    <form action="/api/sessions/recuperar" method="post">
    password new <input id="form_line" type="password" name="password" id="password">

    <input id="reset_button" type="submit" value="Reset">
    </form>
</div>
